<%
var isCssOff = locals.type === 'cssOff';
var headerWidth = isCssOff ? 'span2' : 'span4';
%>
<div class="float--left soft-half--top soft-half--bottom">
  <div class="cf push--bottom">
    <div class="<%=headerWidth%>">
      <a href="<%=pageUrl%>" target="_blank"
       ><h3 class="flush--bottom"><%=name%></h3></a>
    </div>
    <% if (isCssOff) { %>
      <div class="span4 text--right competition-score">
        <span class="icon-bar-lines" title="Score"
         ><% /* <span class="accessibility">Score</span> */ %></span
        ><span class="score"><%=locals.score%></span>
      </div>
    <% } else { %>
      <div class="span1 text--right competition-views">
        <span class="icon-eye" title="Views"
         ><% /* <span class="accessibility">Views</span> */ %></span
        ><span class="viewCount"><%=views%></span>
      </div>
      <div class="span1 text--right competition-likes">
        <span class="icon-heart" title="Likes"
         ><% /* <span class="accessibility">Likes</span> */ %></span
        ><span class="likeCount"><%=likes%></span>
      </div>
    <% } %>
  </div>
  <div>
    <div class="span4 competition-description">
      <p class="flush--bottom"><%=competition%></p>
    </div>
    <div class="span2 text--right">
      <% if (isCssOff) { %>
        <span class="icon-ribbon" title="Rank"
         ><% /* <span class="accessibility">Rank</span> */ %></span
        ><span class="rank"><%=rank%></span>
      <% } else if (locals.award) { %>
        <span class="icon-ribbon" title="Award"
         ><% /* <span class="accessibility">Award</span> */ %></span
        ><span class="award"><%=award%></span>
      <% } %>
    </div>
  </div>
</div>
