- var isCssOff = locals.type === 'cssOff';
- var headerWidth = isCssOff ? 'span2' : 'span4';
.float--left.soft-half--top.soft-half--bottom
  .cf.push--bottom
    div(class=headerWidth)
      a(href=pageUrl, target="_blank")
        h3.flush--bottom= name
    if isCssOff
      .span4.text--right.competition-score
        span.icon-bar-lines(title="Score")
        //- <span class="accessibility">Score</span>
        span.score= locals.score
    else
      .span1.text--right.competition-views
        span.icon-eye(title="Views")
        //- <span class="accessibility">Views</span>
        span.viewCount= views
      .span1.text--right.competition-likes
        span.icon-heart(title="Likes")
        //- <span class="accessibility">Likes</span>
        span.likeCount= likes
  div
    .span4.competition-description
      p.flush--bottom= competition
    div.span2.text--right
      if isCssOff
        span.icon-ribbon(title="Rank")
        //- <span class="accessibility">Rank</span>
        span.rank= rank
      else if locals.award
        span.icon-ribbon(title="Award")
        //- <span class="accessibility">Award</span>
        span.award= award
