.container__row.flexbox.soft-half--top.soft-half--bottom
  .flexbox__item.width3
    h3.delta.flush--bottom(title=name)
      a(href=pageUrl, target="_blank")= locals.truncatedName ? locals.truncatedName : name
  .flexbox__item.width7.project-description
    != description
  //- TODO: Restore underlining when we move to fonts. Currently removed due to ignore-flow not obeying underline rules in Chrome
  .flexbox__item.width1.project-stars
    a(href=srcUrl, target="_blank")
      span.icon-purple-star(title="Stars")
      //- <span class="accessibility">Stars</span>
      span.ignore-flow.project-stars__count= numscale({value: stars, maxLen: 4}).toLowerCase()
  .flexbox__item.width1.project-forks
    a(href=srcUrl, target="_blank")
      span.icon-purple-fork(title="Forks")
      //- <span class="accessibility">Forks</span>
      span.ignore-flow= forks
