<%
function getSrcUrl(item) {
  // Get the github info and url fallback
  var github = item.github,
      srcUrl = item.srcUrl;

  // If there is a srcUrl, return now
  if (srcUrl !== undefined) {
    return srcUrl;
  }

  // Fallback srcUrl to url
  srcUrl = item.url;

  // If there is a github repo, use that
  if (github !== undefined) {
    // If the item is a gist, return it as such
    var isGist = github.indexOf('gist') > -1;
    if (isGist) {
      srcUrl = 'https://gist.github.com/' + github.slice(5);
    } else {
    // Otherwise, go with the normal github flow
      srcUrl = 'https://github.com/' + github;
    }
  }

  return srcUrl;
}

var srcUrl = getSrcUrl(item),
    url,
    pageUrl = item.url || srcUrl;
%>
<div class="l_span3">
  <a href="<%=pageUrl%>" target="_blank"><h3 class="headerKilo superComfyText"><%=item.name%></h3></a>
</div>
<div class="l_span7">
  <%=item.description%>
</div>
<div class="l_span1 layoutFlipped hideLinks">
  <a href="<%=srcUrl%>" target="_blank" class="fakeLink"><img src="public/images/purpleStar.png" alt="Starred" style="height: 20px; vertical-align: middle; margin-top: -5px; margin-right: 5px;" />
  <span class="starCount"><%=item.watchers%></span></a>
</div>
<div class="l_span1 layoutFlipped hideLinks">
  <a href="<%=srcUrl%>" target="_blank" class="fakeLink"><img src="public/images/purpleFork.png" alt="Forks" style="height: 20px; vertical-align: middle; margin-top: -1px; margin-right: 5px;" />
  <span class="forkCount"><%=item.forks%></span></a>
</div>