<div id="article" class="container__row">
  <div id="article__content" class="span8">
    <div>
      <div>
        <%= article.dateStr %>
      </div>
      <div>
        <h1 id="<%= article.titleSlug %>">
          <a href="#<%= article.titleSlug %>" class="link--hover-only"><%= article.title %></a>
        </h1>
      </div>
    </div>

    <div>
      <% /* TODO: Play with font-size and width of code blocks */ %>
      <%- article.content %>
    </div>

    <%
      if (article.scripts) {
        article.scripts.forEach(function (script) {
    %>
        <script src="<%= script %>"></script>
    <%
        });
      }
    %>
  </div>
  <div class="span4">
    <% if (article.relatedArticles) { %>
        <h2 class="gamma">Related articles</h2>
        <% article.relatedArticles.forEach(function (relatedArticle) { %>
          <div class="cluster">
            <h3 class="delta"><a href="<%= relatedArticle.url %>"><%= relatedArticle.title %></a></h3>
            <% /* DEV: Summary is wrapped in a paragraph already */ %>
            <%- relatedArticle.summary %>
          </div>
        <% }); %>
    <% } %>
    <% if (article.relatedProjects) { %>
        <h2 class="gamma">Related projects</h2>
        <% article.relatedProjects.forEach(function (relatedProject) { %>
          <div class="cluster">
            <h3 class="delta"><a href="<%= relatedProject.pageUrl %>"><%= relatedProject.name %></a></h3>
            <p><%- relatedProject.description %></p>
          </div>
        <% }); %>
    <% } %>
    <% if (article.topArticles) { %>
        <h2 class="gamma">Top articles</h2>
        <% article.topArticles.forEach(function (topArticle) { %>
          <div class="cluster">
            <h3 class="delta"><a href="<%= topArticle.url %>"><%= topArticle.title %></a></h3>
            <%- topArticle.summary %>
          </div>
        <% }); %>
    <% } %>
    <% if (article.recentArticles) { %>
        <h2 class="gamma">Recent articles</h2>
        <% article.recentArticles.forEach(function (recentArticle) { %>
          <div class="cluster">
            <h3 class="delta"><a href="<%= recentArticle.url %>"><%= recentArticle.title %></a></h3>
            <%- recentArticle.summary %>
          </div>
        <% }); %>
    <% } %>
  </div>
</div>
