<div class="container__row">
  <div id="articles" class="span8">
    <%
      articles.forEach(function (article, i) {
    %>
      <div class="landmark">
        <small><%= article.dateStr %></small>
        <h2 title="<%= article.title %>"><a href="<%= article.url %>"><%= article._title || article.title %></a></h2>
        <div>
          <% /* Summary is in markdown and already in a <p> */ %>
          <%- article.summary %>
        </div>
        <div>
          <p><a href="<%= article.url %>">Reading time: <%= article.readingTime %> <%= article.readingTime === 1 ? 'minute' : 'minutes' %></a></p>
        </div>
      </div>
    <% }); %>
  </div>
  <div class="span4">
    <h3>Current focus</h3>
    <div>
      <h4>
        <a href="#">Sublime plugin tests</a>
      </h4>
      <div>
        <% /* TODO: Move to jade so we can write this in Markdown */ %>
        <p><a href="#">Sublime Text</a> does not have a proper testing framework. With the disparity of Python 2 and 3, it makes cross-version plugins even harder.</p>
        <p>To solve this problem, I am developing a testing framework that can be integrated with <a href="#">Travis CI</a> for full automated tests.</p>
      </div>
    </div>
    <h3>Recent completions</h3>
      <h4>git-sqwish</h4>
      <h4>sexy-bash-prompt</h4>
  </div>
</div>