<%
var MONTHS = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
%>
<% /* TODO: Fix CSS to remove this */ %>
<div class="islet">&nbsp;</div>
<div class="roww">
<section id="articles" class="span8">
  <%
    articles.forEach(function (article, i) {
      var rowKlass = i % 2 === 0 ? "odd-row" : "even-row";
  %>
    <article class="post <%=rowKlass%>" style="margin-bottom: 23px;">
      <div class="date" style="color: #908CC5;"><%= article.dateStr %></div>
      <h2 title="<%= article.title %>" style="margin-top: 0;"><a href="<%= article.url %>"><%= article._title || article.title %></a></h2>
      <div class="article-summary">
        <% /* Summary is in markdown and already in a <p> */ %>
        <%- article.summary %>
      </div>
      <div class="more row">
        <p><a href="<%= article.url %>">Reading time: 5 minutes</a></p>
      </div>
    </article>
  <% }); %>
</section>
<div class="span4">
  <h3 style="margin-top: 0;">Current focus</h3>
  <div class="project-summary">
    <h4 class="project-summary-title"><a href="#">Sublime plugin tests</a></h4>
    <div class="project-summary-content">
      <% /* TODO: Move to jade so we can write this in Markdown */ %>
      <p><a href="#">Sublime Text</a> does not have a proper testing framework. With the disparity of Python 2 and 3, it makes cross-version plugins even harder.</p>
      <p>To solve this problem, I am developing a testing framework that can be integrated with <a href="#">Travis CI</a> for full automated tests.</p>
    </div>
  </div>
  <h3>Recent completions</h3>
    <h4>git-sqwish</h4>
    <h4>sexy-bash-prompt</h4>

  </h3>
</div>
</div>