<div class="container__row">
  <div id="articles" class="span8">
    <%
      articles.forEach(function (article, i) {
    %>
      <div class="cluster--aggressive">
        <p class="muted">
          <!-- <small><%= article.dateStr %></small> -->
          <%= article.dateStr %>
        </p>
        <h3 title="<%= article.title %>"><a href="<%= article.url %>"><%= article._title || article.title %></a></h3>
        <div>
          <% /* Summary is in markdown and already in a <p> */ %>
          <%- article.summary %>
        </div>
      </div>
    <% }); %>
  </div>
  <div class="span4">
    <%- activity %>
  </div>
</div>