<!doctype html>
<head>
	<title><%= locals.title || 'Todd Wolfson - JavaScript Developer' %></title>
  <link rel="shortcut icon" href="/public/images/favicon.ico" />
  <link href='//fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <!-- Full CSS available at /public/css/index.css -->
	<link rel="stylesheet" type="text/css" media="all" href="/public/css/index.min.css"/>
  <link rel="alternate" type="application/atom+xml" title="twolfson.com blog feed" href="/index.xml" />
  <% if (locals.seoKeywords) { %>
    <meta name="keywords" content="<%= seoKeywords %>">
  <% } %>
  <% if (locals.seoDescription) { %>
    <meta name="description" content="<%= seoDescription %>">
  <% } %>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <% /* Output environment */ %>
  <script type="text/javascript">
    window.env = "<%= process.env.NODE_ENV %>";
  </script>
  <script src="/public/js/index.js"></script>
  <% if (locals.enableGrid) { %>
    <script type="text/javascript">
      var gOverride = {
        urlBase: '//rawgithub.com/peol/960gridder/master/releases/1.3.1/',
        gColor: '#EEEEEE',
        gColumns: 12,
        gOpacity: 0.35,
        gWidth: 10,
        pColor: '#C0C0C0',
        pHeight: 15,
        pOffset: 0,
        pOpacity: 0.55,
        center: true,
        gEnabled: true,
        pEnabled: true,
        setupEnabled: true,
        fixFlash: true,
        size: 960
      };
      domready(function () {
        var $960gridder = document.createElement('script');
        $960gridder.src = '//rawgithub.com/peol/960gridder/master/releases/1.3.1/960.gridder.src.js';
        document.body.appendChild($960gridder);
      });
    </script>
  <% } %>
</head>
<body>
	<div id="global-wrapper" class="container">
    <div id="global-main">
      <% /* TODO: Remove all inline styles */ %>
      <div class="flexbox container__row push-half--bottom" style="margin-top: 3px">
        <h1 class="brand flexbox__item width4 align--baseline">Todd Wolfson</h1>
        <h2 class="brand flexbox__item width5 align--baseline">
          <a href="http://en.wikipedia.org/wiki/ECMAScript">JavaScript</a> Developer
        </h2>
        <div class="flexbox__item text--right">
          <% /* TODO: Re-align sprites */ %>
          <a href="http://github.com/twolfson/" class="icon-github push--right" style="margin-top: 7px;" target="_blank"><span class="accessibility">GitHub</span></a>
          <a href="http://twitter.com/twolfsn/" class="icon-twitter push--right" style="margin-top: 7px;" target="_blank"><span class="accessibility">Twitter</span></a>
          <a href="/index.xml" class="icon-rss" style="margin-top: 7px;" target="_blank"><span class="accessibility">RSS</span></a>
        </div>
      </div>
      <% /* TODO: Add back `island` on a per-page basis via push--top */ %>
      <div class="row--light row--bordered--ends">
        <% /* TODO: Consider changing line height for nav */ %>
        <div class="container__row">
          <ul class="nav">
          <% var navLinks = [
                  { "name": "blog", "href": "/" },
                  { "name": "projects", "href": "/projects" },
                  { "name": "contact", "href": "/contact" }];

            navLinks.forEach(function (navLink) {
              var navName = navLink.name,
                  iSelected = page === navName ? "link--active" : "";
            %>
            <li class="nav--item">
              <a href="<%-navLink.href%>" class="<%=iSelected%>"><%=navName%></a>
            </li>
          <% }); %>
            <li class="nav--item float--right">
              <a href="https://www.gittip.com/twolfson/" target="_blank">support me</a>
            </li>
          </ul>
          </ul>
        </div>
      </div>
      <%- body %>
    </div>
  </div>
  <div id="global-footer" class="container text--center center--center">
    <div>
      <% /* TODO: Verify hr is styled across all browsers */ %>
      <hr class="width5 center--center push-half--bottom"/>
    </div>
    <p class="flush--bottom">
      <small>
        Built by
        <a href="/contact">Todd Wolfson</a>
        under the
        <a href="/license">MIT License</a>
        <br/>
        Powered by <a href="http://expressjs.com/">express</a> and <a href="http://twolfson.github.com/jojo/">jojo</a>
      </small>
    </p>
  </div>
</body>
</html>