<section id="portfolioSection">
  <article>
    <div class="themeOddRow">
      <div>
        <h2 class="headerMega layoutCentered superComfyText">GitHub</h2>
      </div>
      <%
        var items = [{
          'name': 'CSS Query',
          'description': 'Lightweight cross-browser CSS selector (<3kb)',
          'watchers': 27,
          'forks': 3,
          'github': 'Ensighten/CSS-Query'
        }, {
          'name': 'File Watcher',
          'description': 'Watch your files for a hands-free browser refresh!',
          'watchers': 27,
          'forks': 3,
          'github': 'twolfson/File-Watcher'
        }];
        items.forEach(function (item, i) {
          var rowClass = i % 2 ? "themeOddRow" : "themeEvenRow";
      %>
      <div class="l_row superComfyText <%=rowClass%>">
        <div class="l_span3">
          <h3 class="headerKilo superComfyText"><%=item.name%>
        </div>
        <div class="l_span7">
          <%=item.description%>
        </div>
        <div class="l_span1 layoutFlipped">
          * <%=item.watchers%>
        </div>
        <div class="l_span1 layoutFlipped">
          F <%=item.forks%>
        </div>
      </div>
      <%
        });
      %>
    </div>
  </article>
</section>