<section id="portfolioSection" class="mainSection">
  <article>
    <div class="oddRow">
      <h2>Script Kiddie</h2>
      <div class="line">
      <%
        var items = [{
              'url': 'TODO: Get real URL',
              'imgSrc': 'public/images/github.png',
              'name': 'GitHub',
              'timePeriod': 'July 2011 - Present'
            }, {
              'url': 'TODO: Get real URL',
              'imgSrc': 'public/images/mouse.png',
              'name': 'Mouse Tracker',
              'timePeriod': 'March 2011'
            }, {
              'url': 'TODO: Get real URL',
              'imgSrc': 'public/images/canvas.png',
              'name': 'Canvas Drawer',
              'timePeriod': 'March 2011' // TODO: Confirm date
            }],
            item,
            name,
            i,
            len;
        for (i = 0, len = items.length; i < len; i++ ) {
          item = items[i];
          name = item.name;
      %>
        <div class="unit <%if(i!==len-1){%>size1of3<%}else{%>lastUnit<%}%>">
          <a href="<%=item.url%>">
            <figure class="featureItem">
              <img src="<%=item.imgSrc%>" alt="<%=name%>" />
              <figcaption>
                <h3><%=name%></h3>
                <%=item.timePeriod%>
              </figcaption>
            </figure>
          </a>
        </div>
      <%
        }
      %>
      </div>
    </div>
  </article>
  <article>
    <div class="evenRow">
      <h2>Freelance</h2>
      <div class="line">
        <figure class="unit size1of3">
          <img src="public/images/cssOff.png" alt="GitHub" />
          <figcaption>
            <a href="#"><!-- TODO: cssOff url --><h3>CSS Off</h3></a>
            <!-- TODO: Date -->
          </figcaption>
        </figure>
        <figure class="unit size1of3">
          <img src="public/images/mouse.png" alt="GitHub" />
          <figcaption>
            <a href="#"><!-- TODO: mouse url --><h3>Mouse Tracker</h3></a>
            March 2011
          </figcaption>
        </figure>
        <figure class="lastUnit">
          <img src="public/images/palette.png" alt="GitHub" />
          <figcaption>
            <a href="#"><!-- TODO: canvas url --><h3>Canvas Drawer</h3></a>
            March 2011
          </figcaption>
        </figure>
      </div>
    </div>
  </article>
</section>