<section id="portfolioSection">
  <article>
    <div class="themeOddRow">
      <div class="layoutRow fillLine"><!-- TODO: Remove fillLine once navbar is fixed -->
        <h2 class="layoutUnit layoutSizeFill layoutCentered">Script Kiddie</h2>
      </div>
      <div class="layoutRow">
      <%
        var items = [{
              "url": "http:\/\/github.com/twolfson/",
              "imgSrc": "public/images/github.png",
              "name": "GitHub",
              "timePeriod": "July 2011 - Present"
            }, {
              "url": "public/portfolio/mouse.html",
              "imgSrc": "public/images/mouse.png",
              "name": "Mouse Tracker",
              "timePeriod": "March 2011"
            }, {
              "url": "public/portfolio/canvas.html",
              "imgSrc": "public/images/canvas.png",
              "name": "Canvas Drawer",
              "timePeriod": "March 2011" // TODO: Confirm date
            }],
            item,
            name,
            i,
            len,
            finalIndex;
        for (i = 0, len = items.length, finalIndex = len - 1; i < len; i++ ) {
          item = items[i];
          name = item.name;
      %>
        <div class="layoutUnit layoutSize1of3">
          <figure class="featureItem">
            <a href="<%=item.url%>" target="_blank">
              <img src="<%=item.imgSrc%>" alt="<%=name%>" />
              <figcaption>
                <h3><%=name%></h3>
                <%=item.timePeriod%>
              </figcaption>
            </a>
          </figure>
        </div>
      <%
        }
      %>
      </div>
    </div>
  </article>
  <article>
    <%
    var freelanceItems = [{
          "imgSrc": "public/portfolio/css_off_thumb.png",
          "name": "CSS Off",
          "caption": "Most recent active competition",
          "timePeriod": "October 2011",
          "site": "public/portfolio/css_off/index.html"
        // }, {
        //   "imgSrc": "public/images/mouse.png",
        //   "name": "The Worry Chest System",
        //   "caption": "Last freelance client",
        //   "timePeriod": "July 2010"
        }, {
          "imgSrc": "public/portfolio/hcd_thumb.png",
          "name": "His Creative Designs",
          "caption": "",
          "timePeriod": "January 2009",
          "site": "public/portfolio/hcd/index.html"
        // }, {
        //   "imgSrc": "public/images/canvas.png",
        //   "name": "Celebrations Consulting",
        //   "caption": "",
        //   "timePeriod": "August 2009"
        // }, {
        //   "imgSrc": "public/images/canvas.png",
        //   "name": "Banyan Connections",
        //   "caption": "",
        //   "timePeriod": "TODO: REAL DATE"
        // }, {
        //   "imgSrc": "public/images/github.png",
        //   "name": "Bubbles Auto Care", // TODO: Verify actual name
        //   "caption": "",
        //   "timePeriod": "TODO: REAL DATE"
        // }, {
        //   "imgSrc": "public/portfolio/millburn_thumb.png",
        //   "name": "Millburn High School",
        //   "caption": "Never forget your first",
        //   "timePeriod": "February 2005 - June 2007"
        }],
        freelanceSlice,
        rowCount,
        i,
        len,
        item,
        name,
        j,
        len2,
        finalIndex,
        rowClass;

    for (rowCount = 0; len = freelanceItems.length, len > 0; rowCount++) {
      i = len;
      // If more than 3 items remain, use 2 or 3 depending on the row distance
      if (len > 3) {
        i = (len % 3 ? 2 : 3);
      }

      // Grab the next slice
      freelanceSlice = freelanceItems.splice(0, i);
      
      rowClass = rowCount ^ 1 ? "themeEvenRow" : "themeOddRow";
    %>
      <div class="<%=rowClass%>">
        <div class="layoutRow">
        <%
          if (rowCount === 0) {
        %>
          <div class="layoutUnit layoutSizeFill layoutCentered">
            <h2>Freelance</h2>
          </div>
        </div>
        <div class="layoutRow">
        <%
          }
        %>
        <%
          for (j = 0, len2 = freelanceSlice.length, finalIndex = len2 - 1; j < len2; j++ ) {
            item = freelanceSlice[j];
            name = item.name;
        %>
          <div class="layoutUnit layoutSize1of<%=len2%>">
            <figure class="featureItem">
              <a href="<%=item.site%>" target="_blank">
                <img src="<%=item.imgSrc%>" alt="<%=name%>" />
                <figcaption>
                  <h3><%=name%></h3>
                  <%=item.timePeriod%>
                </figcaption>
              </a>
            </figure>
          </div>
        <%
          }
        %>
        </div>
      </div>
    <%
    }
    %>
  </article>
</section>