<section id="portfolioSection">
  <article>
    <style>
      .temp_ProjectInfoOuter {
        overflow: visible;
        white-space: nowrap;
        position:relative;
      }

      .temp_ProjectInfo {
        position: absolute;
        right: 0;
      }

      .temp_Star,
      .temp_Fork,
      .temp_BarLines,
      .temp_Eye,
      .temp_Heart,
      .temp_Ribbon {
        background-image: url('public/images/sprites.png');
        background-repeat: no-repeat;
        font-size: 20px;
        padding-left: 20px;
        vertical-align: middle;
      }

      .temp_Star {
        background-image: url('public/images/purpleStarIco.png');
        margin-top: -5px;
        margin-right: 5px;
      }

      .temp_Fork {
        background-image: url('public/images/purpleForkIco.png');
        margin-top: -1px;
        margin-right: 5px;
      }

      .temp_BarLines {
        background-image: url('public/images/barLinesIco.png');
        margin-top: -5px;
        margin-right: 15px;
      }

      .temp_Eye {
        background-image: url('public/images/eyeIco.png');
        font-size: 14px;
        margin-top: -3px;
        margin-right: 10px;
      }

      .temp_Heart {
        background-image: url('public/images/heartIco.png');
        font-size: 18px;
        margin-top: -4px;
        margin-right: 10px;
      }

      .temp_Ribbon {
        background-image: url('public/images/ribbonIco.png');
        font-size: 30px;
        margin-top: -5px;
        margin-right: 7px;
      }
    </style>
    <div>
      <%
        var _rowCounter = 1;
        function getRowClass() {
          var klass = _rowCounter % 2 ? "themeOddRow" : "themeEvenRow";
          _rowCounter += 1;
          return klass;
        }
      %>
      <div>
        <h2 class="headerMega layoutCentered superComfyText <%=getRowClass()%>">Scripts</h2>
      </div>
      <%
        scripts.forEach(function (item) {
      %>
      <div class="l_row superComfyText <%=getRowClass()%>">
        <%- partial('projects/script', item) %>
      </div>
      <%
        });
      %>
    </div>
    <div>
      <div>
        <h2 class="headerMega layoutCentered superComfyText superComfyRowTop <%=getRowClass()%>">Competitions</h2>
      </div>
      <%
        var lenMinusOne = competitions.length - 1;
        competitions.forEach(function (item, i) {
          var isEven = i % 2 === 0,
              isLastItem = i === lenMinusOne,
              isOwnRow = isEven && isLastItem,
              isRowStart = isEven,
              isRowEnd = !isEven || isOwnRow,
              comfyRowKlass = isLastItem ? "" : "comfyRow",
              view = isOwnRow ? 'projects/competitionThin' : 'projects/competition';
      %>
        <% if (isRowStart) { %>
          <div class="l_row <%=comfyRowKlass%> <%=getRowClass()%>">
        <% } %>
            <%- partial(view, item) %>
        <% if (isRowEnd) { %>
          </div>
        <% } %>
      <%
        });
      %>
    </div>
    <div>
      <div>
        <h2 class="headerMega layoutCentered superComfyText superComfyRowTop <%=getRowClass()%>">Contributions</h2>
      </div>
      <%
        contributions.forEach(function (item) {
      %>
      <div class="l_row superComfyText <%=getRowClass()%>">
        <%- partial('projects/script', item) %>
      </div>
      <%
        });
      %>
    </div>
  </article>
</section>