<section id="portfolioSection">
  <article>
    <div>
      <%
        var _rowCounter = 1;
        function getRowClass() {
          var klass = _rowCounter % 2 ? "themeOddRow" : "themeEvenRow";
          _rowCounter += 1;
          return klass;
        }

        function getSrcUrl(item) {
          // Get the github info and url fallback
          var github = item.github,
              srcUrl = item.srcUrl;

          // If there is a srcUrl, return now
          if (srcUrl !== undefined) {
            return srcUrl;
          }

          // Fallback srcUrl to url
          srcUrl = item.url;

          // If there is a github repo, use that
          if (github !== undefined) {
            // If the item is a gist, return it as such
            var isGist = github.indexOf('gist') > -1;
            if (isGist) {
              srcUrl = 'https://gist.github.com/' + github.slice(5);
            } else {
            // Otherwise, go with the normal github flow
              srcUrl = 'https://github.com/' + github;
            }
          }

          return srcUrl;
        }
      %>
      <div>
        <h2 class="headerMega layoutCentered superComfyText <%=getRowClass()%>">Scripts</h2>
      </div>
      <%
        scripts.forEach(function (item) {
      %>
      <div class="l_row superComfyText <%=getRowClass()%>">
        <%- partial('partials/projectScript', {item: item}) %>
      </div>
      <%
        });
      %>
    </div>
    <div>
      <div>
        <h2 class="headerMega layoutCentered superComfyText superComfyRowTop <%=getRowClass()%>">Competitions</h2>
      </div>
      <%
        var items = competitions,
        i = 0,
        len = items.length,
        lenMinusOne = len - 1,
        item;
        for (; i < len;) {
          // TODO: Fix this hack...
          var comfyRowKlass = i === lenMinusOne ? "" : "comfyRow";
      %>
      <div class="l_row <%=comfyRowKlass%> <%=getRowClass()%>">
        <%
          // If this is the last item, double all values
          if (i === lenMinusOne) {
            item = items[i];
            var srcUrl = getSrcUrl(item),
                mdn = item.mdn,
                pageUrl = item.url || srcUrl;
        %>
          <div class="superComfyText">
            <div class="l_span4 l_offset3">
              <a href="<%=pageUrl%>" target="_blank"><h3 class="headerKilo superComfyText"><%=item.name%></h3></a>
            </div>
            <div class="l_span4">
              <%=item.competition%>
            </div>
          </div>
        <%
            i += 1;
          } else {
          // Otherwise, display 2 per row
            var j = 2;
            while (j--) {
              item = items[i];
        %>
              <%- partial('partials/projectCompetition', {item: item}) %>
        <%
            i += 1;
            }
          }
        %>
      </div>
      <%
        }
      %>
    </div>
    <div>
      <div>
        <h2 class="headerMega layoutCentered superComfyText superComfyRowTop <%=getRowClass()%>">Contributions</h2>
      </div>
      <%
        contributions.forEach(function (item) {
      %>
      <div class="l_row superComfyText <%=getRowClass()%>">
        <%- partial('partials/projectScript', {item: item}) %>
      </div>
      <%
        });
      %>
    </div>
  </article>
</section>