<section id="portfolioSection">
  <article>
    <div>
      <%
        var _rowCounter = 1;
        function getRowClass() {
          var klass = _rowCounter % 2 ? "themeOddRow" : "themeEvenRow";
          _rowCounter += 1;
          return klass;
        }
      %>
      <div>
        <h2 class="headerMega layoutCentered superComfyText <%=getRowClass()%>">Scripts</h2>
      </div>
      <%
        scripts.forEach(function (item) {
      %>
      <div class="l_row superComfyText <%=getRowClass()%>">
        <%- partial('projects/script', {item: item}) %>
      </div>
      <%
        });
      %>
    </div>
    <div>
      <div>
        <h2 class="headerMega layoutCentered superComfyText superComfyRowTop <%=getRowClass()%>">Competitions</h2>
      </div>
      <%
        var items = competitions,
        i = 0,
        len = items.length,
        lenMinusOne = len - 1,
        item;
        for (; i < len;) {
          // TODO: Fix this hack...
          var comfyRowKlass = i === lenMinusOne ? "" : "comfyRow";
      %>
      <div class="l_row <%=comfyRowKlass%> <%=getRowClass()%>">
        <%
          // If this is the last item, double all values
          if (i === lenMinusOne) {
            item = items[i];
        %>
          <%- partial('projects/competitionThin', {item: item}) %>
        <%
            i += 1;
          } else {
          // Otherwise, display 2 per row
            var j = 2;
            while (j--) {
              item = items[i];
        %>
              <%- partial('projects/competition', {item: item}) %>
        <%
            i += 1;
            }
          }
        %>
      </div>
      <%
        }
      %>
    </div>
    <div>
      <div>
        <h2 class="headerMega layoutCentered superComfyText superComfyRowTop <%=getRowClass()%>">Contributions</h2>
      </div>
      <%
        contributions.forEach(function (item) {
      %>
      <div class="l_row superComfyText <%=getRowClass()%>">
        <%- partial('projects/script', {item: item}) %>
      </div>
      <%
        });
      %>
    </div>
  </article>
</section>