<section id="project-section">
  <article>
    <div>
      <%
        var _rowCounter = 1;
        function getRowClass() {
          var klass = _rowCounter % 2 ? "odd-row" : "even-row";
          _rowCounter += 1;
          return klass;
        }
      %>
      <div>
        <h2 class="layout-center <%=getRowClass()%> theme project-section-heading">Scripts</h2>
      </div>
      <%
        projects.scripts.forEach(function (item) {
      %>
      <div class="row <%=getRowClass()%> theme">
        <%- partial('projects/script', item) %>
      </div>
      <%
        });
      %>
    </div>
    <div>
      <div>
        <h2 class="layout-center <%=getRowClass()%> theme project-section-heading">Competitions</h2>
      </div>
      <%
        var lenMinusOne = competitions.length - 1;
        projects.competitions.forEach(function (item, i) {
          var isEven = i % 2 === 0,
              isLastItem = i === lenMinusOne,
              isOwnRow = isEven && isLastItem,
              isRowStart = isEven,
              isRowEnd = !isEven || isOwnRow,
              view = isOwnRow ? 'projects/competitionThin' : 'projects/competition';
      %>
        <% if (isRowStart) { %>
          <div class="row <%=getRowClass()%> theme">
        <% } %>
            <%- partial(view, item) %>
        <% if (isRowEnd) { %>
          </div>
        <% } %>
      <%
        });
      %>
    </div>
    <div>
      <div>
        <h2 class="layout-center <%=getRowClass()%> theme project-section-heading">Contributions</h2>
      </div>
      <%
        projects.contributions.forEach(function (item) {
      %>
      <div class="row <%=getRowClass()%> theme">
        <%- partial('projects/script', item) %>
      </div>
      <%
        });
      %>
    </div>
  </article>
</section>