<section id="portfolioSection">
  <article>
    <div>
      <%
        var _rowCounter = 1;
        function getRowClass() {
          var klass = _rowCounter % 2 ? "themeOddRow" : "themeEvenRow";
          _rowCounter += 1;
          return klass;
        }

        function getSrcUrl(item) {
          // Get the github info and url fallback
          var github = item.github,
              srcUrl = item.srcUrl;

          // If there is a srcUrl, return now
          if (srcUrl !== undefined) {
            return srcUrl;
          }

          // Fallback srcUrl to url
          srcUrl = item.url;

          // If there is a github repo, use that
          if (github !== undefined) {
            // If the item is a gist, return it as such
            var isGist = github.indexOf('gist') > -1;
            if (isGist) {
              srcUrl = 'https://gist.github.com/' + github.slice(5);
            } else {
            // Otherwise, go with the normal github flow
              srcUrl = 'https://github.com/' + github;
            }
          }

          return srcUrl;
        }
      %>
      <div>
        <h2 class="headerMega layoutCentered superComfyText <%=getRowClass()%>">Scripts</h2>
      </div>
      <%
        var items = [{
          'name': 'CSS Query',
          'description': 'Lightweight cross-browser CSS selector (<3kb)',
          'stars': 5,
          'forks': 1,
          'github': 'Ensighten/CSS-Query'
        }, {
          'name': 'File Watcher',
          'description': 'Watch your files for a hands-free browser refresh!',
          'stars': 93,
          'forks': 1,
          'github': 'twolfson/File-Watcher'
        }, {
          'name': 'Resource Collector',
          'description': 'Collect all resources off of a page (including CSS ones)!',
          'stars': 2,
          'forks': 0,
          'github': 'twolfson/Resource-Collector'
        }, {
          'name': 'twolfson.com',
          'description': 'The website you are currently on ;)',
          'stars': 1,
          'forks': 0,
          'github': 'twolfson/twolfson.com'
        }, {
          'name': 'jojo',
          'description': 'the 10 second blog engine for hackers (in javascript)',
          'stars': 23,
          'forks': 0,
          'github': 'twolfson/jojo'
        }, {
          'name': 'Atomic Event',
          'description': 'Race condition handler under 140 bytes',
          'stars': 0,
          'forks': 0,
          'github': 'gist/2668303'
        }, {
          'name': 'Mason.js',
          'description': 'HTML pre-processor that auto-instantiates UI interactivity',
          'stars': 3,
          'forks': 1,
          'github': 'twolfson/Mason.js'
        }];
        items.forEach(function (item) {
      %>
      <div class="l_row superComfyText <%=getRowClass()%>">
        <%- partial('partials/projectScript', {item: item}) %>
      </div>
      <%
        });
      %>
    </div>
    <div>
      <div>
        <h2 class="headerMega layoutCentered superComfyText superComfyRowTop <%=getRowClass()%>">Competitions</h2>
      </div>
      <%
        var items = [{
          'name': 'Media Query Sprites',
          'competition': 'MDN Dev Derby - Media Queries',
          'description': 'Control your CSS sprites via media queries',
          'views': 184,
          'likes': 2,
          'award': 'Finalist!',
          'github': 'twolfson/Mozilla-Dev-Derby---CSS-Media-Queries',
          'mdn': 'spriting-with-css-media-queries'
        }, {
          'name': 'Heat Pad',
          'competition': 'MDN Dev Derby - Canvas',
          'description': 'Heat Pad displays a heat map of your mouse actions',
          'views': 90,
          'likes': 2,
          'github': 'twolfson/Mozilla-Dev-Derby---Canvas',
          'mdn': 'heat-pad'
        }, {
          'name': 'IndexedDB Editor',
          'competition': 'MDN Dev Derby - IndexedDB',
          'description': 'Visual editor for IndexedDB',
          'views': 406,
          'likes': 4,
          'award': '3rd place!',
          'github': 'twolfson/IndexedDB-Editor',
          'mdn': 'indexeddb-editor'
        }, {
          'name': 'Mock Toucher',
          'competition': 'MDN Dev Derby - Touch Events',
          'description': 'Mock Toucher emulates multiple touch events via mouse clicks',
          'views': 106,
          'likes': 2,
          'github': 'twolfson/Mock-Toucher',
          'mdn': 'mock-toucher'
        }, {
          'name': 'Audio Playground',
          'competition': 'MDN Dev Derby - Audio',
          'description': 'Audio Playground generates sounds based on mouse position',
          'views': 209,
          'likes': 4,
          'github': 'twolfson/Mozilla-Dev-Derby---Audio',
          'mdn': 'audio-playground'
        }, {
          'type': 'cssOff',
          'name': 'CSS Off',
          'competition': 'Unmatched Style - Triple Dare',
          'description': 'Take a PSD mockup and convert it to an interactive website',
          'score': '61 of 100 points',
          'rank': '66th of 417',
          'github': 'twolfson/CSS-Off--2011-',
          'srcUrl': 'http://www.unmatchedstyle.com/cssoff/',
          'url': 'http://twolfson.github.com/CSS-Off--2011-/'
        }, {
          'name': 'Heart drawing tweet',
          'competition': 'JS1K - Love',
          'description': 'Animated double heart drawing in 140 bytes',
          'srcUrl': 'http://js1k.com/2012-love/demo/1170',
          'url': 'http://js1k.com/2012-love/demo/1170'
        }],
        i = 0,
        len = items.length,
        lenMinusOne = len - 1,
        item;
        for (; i < len;) {
          // TODO: Fix this hack...
          var comfyRowKlass = i === lenMinusOne ? "" : "comfyRow";
      %>
      <div class="l_row <%=comfyRowKlass%> <%=getRowClass()%>">
        <%
          // If this is the last item, double all values
          if (i === lenMinusOne) {
            item = items[i];
            var srcUrl = getSrcUrl(item),
                mdn = item.mdn,
                pageUrl = item.url || srcUrl;
        %>
          <div class="superComfyText">
            <div class="l_span4 l_offset3">
              <a href="<%=pageUrl%>" target="_blank"><h3 class="headerKilo superComfyText"><%=item.name%></h3></a>
            </div>
            <div class="l_span4">
              <%=item.competition%>
            </div>
          </div>
        <%
            i += 1;
          } else {
          // Otherwise, display 2 per row
            var j = 2;
            while (j--) {
              item = items[i];
        %>
              <%- partial('partials/projectCompetition', {item: item}) %>
        <%
            i += 1;
            }
          }
        %>
      </div>
      <%
        }
      %>
    </div>
    <div>
      <div>
        <h2 class="headerMega layoutCentered superComfyText superComfyRowTop <%=getRowClass()%>">Contributions</h2>
      </div>
      <%
        var items = [{
          'name': 'nodemon',
          'description': 'Monitor changes &hellip; and automatically restart the server',
          'stars': 802,
          'forks': 68,
          'github': 'remy/nodemon'
        }, {
          'name': 'source-map',
          'description': '<a href="https://wiki.mozilla.org/DevTools/Features/SourceMap">https://wiki.mozilla.org/DevTools/Features/SourceMap</a>',
          'stars': 80,
          'forks': 11,
          'github': 'mozilla/source-map'
        }, {
          'name': 'jquip',
          'description': 'jQuery in Parts',
          'stars': '1.2k',
          'forks': 56,
          'github': 'mythz/jquip'
        }];
        items.forEach(function (item) {
      %>
      <div class="l_row superComfyText <%=getRowClass()%>">
        <%- partial('partials/projectScript', {item: item}) %>
      </div>
      <%
        });
      %>
    </div>
  </article>
</section>