<section id="portfolioSection">
  <article>
    <div>
      <%
        var _rowCounter = 1;
       function getRowClass() {
          var klass = _rowCounter % 2 ? "themeOddRow" : "themeEvenRow";
          _rowCounter += 1;
          return klass;
        }

        function getSrcUrl(item) {
          // Get the github info and url fallback
          var github = item.github,
              srcUrl = item.srcUrl;

          // If there is a srcUrl, return now
          if (srcUrl !== undefined) {
            return srcUrl;
          }

          // Fallback srcUrl to url
          srcUrl = item.url;

          // If there is a github repo, use that
          if (github !== undefined) {
            // If the item is a gist, return it as such
            var isGist = github.indexOf('gist') > -1;
            if (isGist) {
              srcUrl = 'https://gist.github.com/' + github.slice(5);
            } else {
            // Otherwise, go with the normal github flow
              srcUrl = 'https://github.com/' + github;
            }
          }

          return srcUrl;
        }
      %>
      <div>
        <h2 class="headerMega layoutCentered superComfyText <%=getRowClass()%>">Scripts</h2>
      </div>
      <%
        var items = [{
          'name': 'CSS Query',
          'description': 'Lightweight cross-browser CSS selector (<3kb)',
          'watchers': 27,
          'forks': 3,
          'github': 'Ensighten/CSS-Query'
        }, {
          'name': 'File Watcher',
          'description': 'Watch your files for a hands-free browser refresh!',
          'watchers': 27,
          'forks': 3,
          'github': 'twolfson/File-Watcher'
        }, {
          'name': 'Resource Collector',
          'description': 'Collect all resources off of a page (including CSS ones)!',
          'watchers': 3,
          'forks': 1,
          'github': 'twolfson/Resouce-Collector'
        }, {
          'name': 'twolfson.com',
          'description': 'The website you are currently on ;)',
          'watchers': 1,
          'forks': 1,
          'github': 'twolfson/twolfson.com'
        }, {
          'name': 'jojo',
          'description': 'the 10 second blog engine for hackers (in javascript)',
          'watchers': 1,
          'forks': 1,
          'github': 'twolfson/jojo'
        }, {
          'name': 'Atomic Event',
          'description': 'Race condition handler under 140 bytes',
          'watchers': 1,
          'forks': 1,
          'github': 'gist/2668303'
        }, {
          'name': 'Mason.js',
          'description': 'HTML pre-processor that auto-instantiates UI interactivity',
          'watchers': 1,
          'forks': 1,
          'github': 'twolfson/Mason.js'
        }];
        items.forEach(function (item) {
          var srcUrl = getSrcUrl(item),
              pageUrl = item.url || srcUrl;
      %>
      <div class="l_row superComfyText <%=getRowClass()%>">
        <div class="l_span3">
          <a href="<%=pageUrl%>" target="_blank"><h3 class="headerKilo superComfyText"><%=item.name%></h3></a>
        </div>
        <div class="l_span7">
          <%=item.description%>
        </div>
        <div class="l_span1 layoutFlipped hideLinks">
          <a href="<%=srcUrl%>" target="_blank" class="fakeLink"><img src="public/images/purpleStar.png" alt="Starred" style="height: 20px; vertical-align: middle; margin-top: -5px; margin-right: 5px;" />
          <span class="starCount"><%=item.watchers%></span></a>
        </div>
        <div class="l_span1 layoutFlipped hideLinks">
          <a href="<%=srcUrl%>" target="_blank" class="fakeLink"><img src="public/images/purpleFork.png" alt="Forks" style="height: 20px; vertical-align: middle; margin-top: -1px; margin-right: 5px;" />
          <span class="forkCount"><%=item.forks%></span></a>
        </div>
      </div>
      <%
        });
      %>
    </div>
    <div>
      <div>
        <h2 class="headerMega layoutCentered superComfyText superComfyRowTop <%=getRowClass()%>">Competitions</h2>
      </div>
      <%
        var items = [{
          'name': 'Media Query Sprites',
          'competition': 'MDN Dev Derby - Media Queries',
          'description': 'Control your CSS sprites via media queries',
          'views': 100,
          'likes': 4,
          'award': 'Finalist!',
          'github': 'twolfson/Mozilla-Dev-Derby---CSS-Media-Queries',
          'mdn': 'spriting-with-css-media-queries'
        }, {
          'name': 'Heat Pad',
          'competition': 'MDN Dev Derby - Canvas',
          'description': 'Heat Pad displays a heat map of your mouse actions',
          'views': 100,
          'likes': 1,
          'github': 'twolfson/Mozilla-Dev-Derby---Canvas',
          'mdn': 'heat-pad'
        }, {
          'name': 'IndexedDB Editor',
          'competition': 'MDN Dev Derby - IndexedDB',
          'description': 'Visual editor for IndexedDB',
          'views': 1,
          'likes': 1,
          'award': '3rd place!',
          'github': 'twolfson/IndexedDB-Editor',
          'mdn': 'indexeddb-editor'
        }, {
          'name': 'Mock Toucher',
          'competition': 'MDN Dev Derby - Touch Events',
          'description': 'Mock Toucher emulates multiple touch events via mouse clicks',
          'views': 1,
          'likes': 1,
          'github': 'twolfson/Mock-Toucher',
          'mdn': 'mock-toucher'
        }, {
          'name': 'Audio Playground',
          'competition': 'MDN Dev Derby - Audio',
          'description': 'Audio Playground generates sounds based on mouse position',
          'views': 1,
          'likes': 1,
          'github': 'twolfson/Mozilla-Dev-Derby---Audio',
          'mdn': 'audio-playground'
        }, {
          'type': 'cssOff',
          'name': 'CSS Off',
          'competition': 'Unmatched Style - Triple Dare',
          'description': 'Take a PSD mockup and convert it to an interactive website',
          'score': '61/100',
          'rank': '66/417',
          'github': 'twolfson/CSS-Off--2011-',
          'srcUrl': 'http://www.unmatchedstyle.com/cssoff/',
          'url': 'http://twolfson.github.com/CSS-Off--2011-/'
        }, {
          'name': 'Heart drawing tweet',
          'competition': 'JS1K - Love',
          'description': 'Animated double heart drawing in 140 bytes',
          'srcUrl': 'http://js1k.com/2012-love/demo/1170',
          'url': 'http://js1k.com/2012-love/demo/1170'
        }],
        i = 0,
        len = items.length,
        lenMinusOne = len - 1,
        item;
        for (; i < len;) {
          // TODO: Fix this hack...
          var comfyRowKlass = i === lenMinusOne ? "" : "superComfyRow";
      %>
      <div class="l_row <%=comfyRowKlass%> <%=getRowClass()%>">
        <%
          // If this is the last item, double all values
          if (i === lenMinusOne) {
            item = items[i];
            var srcUrl = getSrcUrl(item),
                mdn = item.mdn,
                pageUrl = item.url;

            // If the pageUrl is not defined
            if (pageUrl === undefined) {
              // and mdn is defined, use that
              if (mdn !== undefined) {
                pageUrl = 'https://developer.mozilla.org/en-US/demos/detail/' + mdn;
              } else {
              // Otherwise, fallback to the srcUrl
                pageUrl = srcUrl;
              }
            }
        %>
          <div class="superComfyText">
            <div class="l_span4 l_offset3">
              <a href="<%=pageUrl%>" target="_blank"><h3 class="headerKilo superComfyText"><%=item.name%></h3></a>
            </div>
            <div class="l_span4">
              <%=item.competition%>
            </div>
          </div>
        <%
            i += 1;
          } else {
          // Otherwise, display 2 per row
            var j = 2;
            while (j--) {
              item = items[i];
              var srcUrl = getSrcUrl(item),
                  mdn = item.mdn,
                  pageUrl = item.url;

              // If the pageUrl is not defined
              if (pageUrl === undefined) {
                // and mdn is defined, use that
                if (mdn !== undefined) {
                  pageUrl = 'https://developer.mozilla.org/en-US/demos/detail/' + mdn;
                } else {
                // Otherwise, fallback to the srcUrl
                  pageUrl = srcUrl;
                }
              }
        %>
            <div class="l_span6">
              <div class="l_row l_rowNested superComfyText">
                <% if (item.type === 'cssOff') { %>
                <div class="l_span3">
                <% } else { %>
                <div class="l_span4">
                <% }%>
                  <a href="<%=pageUrl%>" target="_blank"><h3 class="headerKilo superComfyText"><%=item.name%></h3></a>
                </div>
                <% if (item.type === 'cssOff') { %>
                  <div class="l_span3 layoutFlipped">
                    S <%=item.score%>
                    R <%=item.rank%>
                  </div>
                <% } else { %>
                  <div class="l_span1 layoutFlipped">
                    L <%=item.likes%>
                  </div>
                  <div class="l_span1 layoutFlipped">
                    V <%=item.views%>
                  </div>
                <% } %>
              </div>
              <div class="l_row l_rowNested">
                <div class="l_span4">
                  <%=item.competition%>
                </div>
                <div class="l_span2 layoutFlipped">
                  <% if (item.award) { %>
                    A <%=item.award%>
                  <% } %>
                </div>
              </div>
            </div>
        <%
            i += 1;
            }
          }
        %>
      </div>
      <%
        }
      %>
    </div>
    <div>
      <div>
        <h2 class="headerMega layoutCentered superComfyText superComfyRowTop <%=getRowClass()%>">Contributions</h2>
      </div>
      <%
        var items = [{
          'name': 'nodemon',
          'description': '???',
          'watchers': 1,
          'forks': 1,
          'github': '???'
        }, {
          'name': 'node-sourcemap',
          'description': '???',
          'watchers': 1,
          'forks': 1,
          'github': '???'
        }, {
          'name': 'jquip',
          'description': '???',
          'watchers': 1,
          'forks': 1,
          'github': '???'
        }];
        items.forEach(function (item) {
      %>
      <div class="l_row superComfyText <%=getRowClass()%>">
        <div class="l_span3">
          <h3 class="headerKilo superComfyText"><%=item.name%></h3>
        </div>
        <div class="l_span7">
          <%=item.description%>
        </div>
        <div class="l_span1 layoutFlipped">
          * <%=item.watchers%>
        </div>
        <div class="l_span1 layoutFlipped">
          F <%=item.forks%>
        </div>
      </div>
      <%
        });
      %>
    </div>
  </article>
</section>