<section id="portfolioSection">
  <article>
    <div>
      <%
        var _rowCounter = 1;
        function getRowClass() {
          var klass = _rowCounter % 2 ? "themeOddRow" : "themeEvenRow";
          _rowCounter += 1;
          return klass;
        }
      %>
      <div>
        <h2 class="headerMega layoutCentered superComfyText <%=getRowClass()%>">Scripts</h2>
      </div>
      <%
        scripts.forEach(function (item) {
      %>
      <div class="l_row superComfyText <%=getRowClass()%>">
        <%- partial('projects/script', {item: item}) %>
      </div>
      <%
        });
      %>
    </div>
    <div>
      <div>
        <h2 class="headerMega layoutCentered superComfyText superComfyRowTop <%=getRowClass()%>">Competitions</h2>
      </div>
      <%
        var lenMinusOne = competitions.length - 1;
        competitions.forEach(function (item, i) {
          // TODO: Fix comfyRow hack...
          var isEven = i % 2 === 0,
              isLastItem = i === lenMinusOne,
              isOwnRow = isEven && isLastItem,
              isRowStart = isEven,
              isRowEnd = !isEven || isOwnRow,
              comfyRowKlass = isLastItem ? "" : "comfyRow",
              view = isOwnRow ? 'projects/competitionThin' : 'projects/competition';
      %>
        <% if (isRowStart) { %>
          <div class="l_row <%=comfyRowKlass%> <%=getRowClass()%>">
        <% } %>
            <%- partial(view, {item: item}) %>
        <% if (isRowEnd) { %>
          </div>
        <% } %>
      <%
        });
      %>
    </div>
    <div>
      <div>
        <h2 class="headerMega layoutCentered superComfyText superComfyRowTop <%=getRowClass()%>">Contributions</h2>
      </div>
      <%
        contributions.forEach(function (item) {
      %>
      <div class="l_row superComfyText <%=getRowClass()%>">
        <%- partial('projects/script', {item: item}) %>
      </div>
      <%
        });
      %>
    </div>
  </article>
</section>