<div id="projects" class="push--bottom">
  <div>
    <% /* TODO: Consider moving to flexbox for vertical text */ %>
    <div class="projects__section">
      <%
        var _rowCounter = 1;
        function getRowClass() {
          var klass = _rowCounter % 2 ? "row--dark" : "row--light";
          _rowCounter += 1;
          return klass;
        }
      %>
      <div>
        <% /* TODO: Is there a pattern for half-top/half-bottom */ %>
        <h2 class="text--center <%=getRowClass()%> soft-half--top soft-half--bottom flush--bottom">Scripts</h2>
      </div>
      <%
        projects.scripts.forEach(function (item) {
      %>
      <div class="<%=getRowClass()%>">
        <%- partial('projects/script', item) %>
      </div>
      <%
        });
      %>
    </div>
    <div class="projects__section">
      <div>
        <h2 class="text--center <%=getRowClass()%> soft-half--top soft-half--bottom flush--bottom">Competitions</h2>
      </div>
      <%
        var competitions = projects.competitions,
            lenMinusOne = competitions.length - 1;
        competitions.forEach(function (item, i) {
          var isEven = i % 2 === 0,
              isLastItem = i === lenMinusOne,
              isOwnRow = isEven && isLastItem,
              isRowStart = isEven,
              isRowEnd = !isEven || isOwnRow,
              view = isOwnRow ? 'projects/competitionThin' : 'projects/competition';
      %>
        <% if (isRowStart) { %>
          <div class="<%=getRowClass()%>">
            <div class="container__row">
        <% } %>
              <%- partial(view, item) %>
        <% if (isRowEnd) { %>
            </div>
          </div>
        <% } %>
      <%
        });
      %>
    </div>
    <div class="projects__section">
      <div>
        <h2 class="text--center <%=getRowClass()%> soft-half--top soft-half--bottom flush--bottom">Contributions</h2>
      </div>
      <%
        projects.contributions.forEach(function (item) {
      %>
      <div class="<%=getRowClass()%>">
        <%- partial('projects/script', item) %>
      </div>
      <%
        });
      %>
    </div>
  </div>
</div>