<section id="resumeSection" class="mainSection">
<%
  var jobs = jobs || [],
      job,
      name,
      startDate,
      endDate,
      location,
      url,
      summaryItems,
      imgUrl,
      i,
      len,
      summaryItem,
      j,
      len2,
  // TODO: On production set to () instead of (0)
      presentDateStr = 'Present';
      presentDate = new Date(0);

  // Set up month constants
  var months = {},
      month,
      monthArr = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
  for (i = monthArr.length; i--; ) {
    month = monthArr[i];
    months[month] = i;
  }
  function fromMonthYear(dateStr) {
    if (dateStr === presentDateStr) {
      return presentDate;
    }

    var date_,
        dateArr = dateStr.match(/([A-Z]+)\s+(\d+)/i) 
        month = dateArr[1],
        year = dateArr[2];
        
    date_ = new Date(year, months[month]);
    return date_;
  }

  for( i = 0, len = jobs.length; i < len; i++ ) {
    job = jobs[i];
    name = job.name;
    startDateStr = job.startDate || presentDateStr;
    startDate = fromMonthYear(startDateStr);
    endDateStr = job.endDate || presentDateStr;
    endDate = fromMonthYear(endDateStr);
    location = job.location;
    url = job.url;
    summaryItems = job.summary;
%>
  <article id="<%=name%>Article" class="contentSection mainSubsection <%=(i%2)?"even":"odd"%>Row">
    <div class="line size1of1">
      <div class="size2of3 unit">
        <h3><%=job.title%></h3>
      </div>
      <div class="lastUnit timelength">
        <time datetime="<%=startDate.toISOString()%>"><%=startDateStr%></time> - <time datetime="<%=endDate.toISOString()%>"><%=endDateStr%></time>
      </div>
    </div>
    <div class="line size1of1">
      <div class="size2of3 unit">
        <div class="line size1of1">
          <em><%=job.company%><%if(location){%>, <address><%=location%></address><%}%></em>
        </div>
        <div class="line size1of1">
          <ul class="bulletList">
          <%
            for( j = 0, len2 = summaryItems.length; j < len2; j++ ) {
              summaryItem = summaryItems[j];
          %>
            <li><%=summaryItem%></li>
          <%
            }
          %>
          </ul>
        </div>
      </div>
      <div class="lastUnit">
        <figure>
          <%if(url){%><a href="<%=url%>" target="_blank"><%}%><img src="public/images/<%=name%>.png" alt="<%=job.company%>" class="size1of1" /><%if(url){%></a><%}%>
        </figure>
      </div>
    </div>
  </article>
<%
  }
%>
</section>