<div class="container__row"><div class="span12">
  <h1>Support Me</h1>
  <p>
    Thank you for supporting me! I really appreciate any and every donation =)
  </p>
</div></div>
<div class="container__row">
  <!-- TODO: Use sprites -->
  <div class="span4 text--right">
    <a href="<%= gittipUrl %>">
      <button class="inline-span3 btn--medium btn--future push--bottom">
        <img src="/public/images/sprites/gittip.png" alt="Gittip logo" class="valign--text-bottom"/>
        Gittip
      </button>
    </a>
  </div>
  <div class="span4 text--center">
    <a href="<%= flattrUrl %>">
      <button class="inline-span3 btn--medium btn--future push--bottom">
        <img src="/public/images/sprites/flattr.png" alt="Flattr logo" class="valign--text-bottom"/>
        Flattr
      </button>
    </a>
  </div>
  <div class="span4 text--left">
    <a href="<%= paypalUrl %>">
      <button class="inline-span3 btn--medium btn--future push--bottom">
        <img src="/public/images/sprites/paypal.png" alt="PayPal logo" class="valign--text-bottom"/>
        PayPal
      </button>
    </a>
  </div>
</div>
<div class="container__row flexbox push--bottom">
  <div class="flexbox__item width1">&nbsp;</div>
  <div class="flexbox__item width2">
    <img src="/public/images/sprites/bitcoin.png" alt="Bitcoin logo" class="valign--text-bottom"/>
    Bitcoin
  </div>
  <div class="flexbox__item width8">
    <pre class="flush--bottom"><code class="no-highlight"><%= donationConfig.bitcoin %></code></pre>
  </div>
</div>
<div class="container__row flexbox push--bottom">
  <div class="flexbox__item width1">&nbsp;</div>
  <div class="flexbox__item width2">
    <img src="/public/images/sprites/dogecoin.png" alt="Dogecoin logo" class="valign--text-bottom"/>
    Dogecoin
  </div>
  <div class="flexbox__item width8">
    <pre class="flush--bottom"><code class="no-highlight"><%= donationConfig.dogecoin %></code></pre>
  </div>
</div>
