<!DOCTYPE html>
<html>
<head>
	<title><%= locals.title || config.title %></title>
  <link rel="shortcut icon" href="/public/images/favicon.ico">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato|Ubuntu+Mono" type="text/css">
  <!-- Full CSS available at /public/css/index.css .-->
  <link rel="stylesheet" href="/public/css/index.min.css" type="text/css" media="all">
  <link rel="alternate" href="/index.xml" title="twolfson.com blog feed" type="application/atom+xml">
  <% if (locals.seoKeywords) { %>
    <meta name="keywords" content="<%= seoKeywords %>">
  <% } %>
  <% if (locals.seoDescription) { %>
    <meta name="description" content="<%= seoDescription %>">
  <% } %>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <% /* Output environment */ %>
  <script type="text/javascript">
    window.env = "<%= locals.env %>";
  </script>
  <script src="/public/js/index.js"></script>
  <% if (locals.enableGrid) { %>
    <script type="text/javascript">
      // http://peol.github.io/960gridder/#overriding
      var gOverride = {
        urlBase: '/public/js/960gridder/',
        gColumns: 12,
        gWidth: 27 / 2, // Gutter width (divided by 2?)
        // pColor: '#333',
        pHeight: 27 / 2, // Line height (divided by 2 for easier baseline)
        // pOffset: 9, // Baseline offset
        size: 960
      };
      domready(function () {
        var $960gridder = document.createElement('script');
        $960gridder.src = '/public/js/960gridder/960.gridder.js';
        document.body.appendChild($960gridder);

      });
    </script>
  <% } %>
</head>
<body>
  <div id="global-wrapper" class="container">
    <div id="global-main">
      <% /* TODO: Restore accessibility classes to sprites (visually test Chrome) -_-;; */ %>
      <% /* TODO: Gather screenshots in all browsers */ %>
      <div class="flexbox container__row push-half--top push-half--bottom">
        <h1 class="brand flexbox__item width4 align--baseline">
          <a href="/" class="link--hidden">Todd Wolfson</a>
        </h1>
        <h2 class="brand flexbox__item width5 align--baseline">
          Software Engineer
        </h2>
        <div class="flexbox__item text--right alpha">
          <a href="http://github.com/twolfson/" class="icon-github push--right" target="_blank"><% /* <span class="accessibility">GitHub</span> */ %></a>
          <a href="http://twitter.com/twolfsn/" class="icon-twitter push--right" target="_blank"><% /* <span class="accessibility">Twitter</span> */ %></a>
          <a href="/index.xml" class="icon-rss" target="_blank"><% /* <span class="accessibility">RSS</span> */ %></a>
        </div>
      </div>
      <% /* TODO: Add back `island` on a per-page basis via push--top */ %>
      <% var navMargin = locals.navMargin === false ? '' : 'push--bottom' %>
      <div class="row--bordered--ends <%= navMargin %>">
        <div class="container__row">
          <ul class="nav">
          <% var navLinks = [
                  { "name": "blog", "href": "/" },
                  { "name": "projects", "href": "/projects" },
                  { "name": "contact", "href": "/contact" }];

            navLinks.forEach(function (navLink) {
              var navName = navLink.name,
                  isSelected = page === navName ? "link--active" : "";
            %>
            <li class="nav--item">
              <a href="<%-navLink.href%>" class="<%=isSelected%>"><%=navName%></a>
            </li>
          <% }); /* navLinks.forEach */ %>
            <li class="nav--item float--right">
              <% var isSelected = page === 'support-me' ? "link--active" : ""; %>
              <a href="/support-me" class="<%=isSelected%>">support me</a>
            </li>
          </ul>
          </ul>
        </div>
      </div>
      <%- body %>
    </div>
  </div>
  <div id="global-footer" class="container text--center center--center">
    <div>
      <% /* TODO: Verify hr is styled across all browsers */ %>
      <hr class="width5 center--center push-half--bottom">
    </div>
    <p class="flush--bottom"><small>
      Built by <a href="/contact">Todd Wolfson</a> under the <a href="/license">MIT License</a>
      <br>
      Powered by <a href="http://expressjs.com/">express</a> and <a href="http://twolfson.github.com/jojo/">jojo</a></small></p>
  </div>
</body>
</html>
