<%
var type,
    award,
    isCssOff = type === 'cssOff',
    headerWidth = isCssOff ? "l_span2" : "l_span4";
%>
<div class="l_span6">
  <div class="l_row l_rowNested superComfyText">
    <div class="<%=headerWidth%>">
      <a href="<%=pageUrl%>" target="_blank"><h3 class="headerKilo superComfyText"><%=name%></h3></a>
    </div>
    <% if (isCssOff) { %>
      <div class="l_span4 layoutFlipped">
        <span class="barLinesIco" title="Score">&nbsp;</span><span class="score"><%=score%></span>
      </div>
    <% } else { %>
      <div class="l_span1 layoutFlipped temp_ProjectInfoOuter">
        <div class="temp_ProjectInfo">
          <span class="eyeIco" title="Views"></span><span class="viewCount"><%=views%></span>
        </div>
      &nbsp;
      </div>
      <div class="l_span1 layoutFlipped">
        <span class="heartIco" title="Likes"></span><span class="likeCount"><%=likes%></span>
      </div>
    <% } %>
  </div>
  <div class="l_row l_rowNested">
    <div class="l_span4 temp_CompetitionDesc">
      <%=competition%>
    </div>
    <div class="l_span2 layoutFlipped">
      <% if (isCssOff) { %>
        <span class="ribbonIco" title="Rank"></span><span class="rank"><%=rank%></span>
      <% } else if (award) { %>
        <span class="ribbonIco" title="Award"></span><span class="award"><%=award%></span>
      <% } %>
    </div>
  </div>
</div>