<%
var type,
    award,
    isCssOff = type === 'cssOff',
    headerWidth = isCssOff ? "l_span2" : "l_span4";
%>
<div class="l_span6">
  <div class="l_row l_rowNested superComfyText">
    <div class="<%=headerWidth%>">
      <a href="<%=pageUrl%>" target="_blank"><h3 class="headerKilo superComfyText"><%=name%></h3></a>
    </div>
    <% if (isCssOff) { %>
      <div class="l_span4 layoutFlipped">
        <img src="public/images/barLines.png" alt="Score" class="tempE" /><span class="score"><%=score%></span>
      </div>
    <% } else { %>
      <div class="l_span1 layoutFlipped tempA">
        <div class="tempC">
          <img src="public/images/eye.png" alt="Views" class="tempF"/><span class="viewCount"><%=views%></span>
        </div>
      &nbsp;
      </div>
      <div class="l_span1 layoutFlipped">
        <img src="public/images/heart.png" alt="Likes" class="tempG" /><span class="likeCount"><%=likes%></span>
      </div>
    <% } %>
  </div>
  <div class="l_row l_rowNested">
    <div class="l_span4">
      <%=competition%>
    </div>
    <div class="l_span2 layoutFlipped">
      <% if (isCssOff) { %>
        <img src="public/images/ribbon.png" alt="Rank" class="tempH" /><span class="rank"><%=rank%></span>
      <% } else if (award) { %>
        <img src="public/images/ribbon.png" alt="Award" class="tempH" /><span class="award"><%=award%></span>
      <% } %>
    </div>
  </div>
</div>