<%
var type,
    award,
    isCssOff = type === 'cssOff',
    headerWidth = isCssOff ? "span2" : "span4";
%>
<div class="span6">
  <div class="row row-nested">
    <div class="<%=headerWidth%>">
      <a href="<%=pageUrl%>" target="_blank"><h3><%=name%></h3></a>
    </div>
    <% if (isCssOff) { %>
      <div class="span4 layout-flipped competition-score">
        <span class="barLinesIco" title="Score">&nbsp;</span><span class="score"><%=score%></span>
      </div>
    <% } else { %>
      <div class="span1 layout-flipped competition-views">
        <span class="eyeIco" title="Views"></span><span class="viewCount"><%=views%></span>
      </div>
      <div class="span1 layout-flipped competition-likes">
        <span class="heartIco" title="Likes"></span><span class="likeCount"><%=likes%></span>
      </div>
    <% } %>
  </div>
  <div class="row row-nested">
    <div class="span4 competition-description">
      <p><%=competition%></p>
    </div>
    <div class="span2 layout-flipped">
      <% if (isCssOff) { %>
        <span class="ribbonIco" title="Rank"></span><span class="rank"><%=rank%></span>
      <% } else if (award) { %>
        <span class="ribbonIco" title="Award"></span><span class="award"><%=award%></span>
      <% } %>
    </div>
  </div>
</div>