<div class="container__row flexbox soft-half--top soft-half--bottom">
  <div class="flexbox__item width3">
    <h3 title="<%=name%>" class="delta flush--bottom">
      <a href="<%=pageUrl%>" target="_blank">
        <%= locals.truncatedName ? locals.truncatedName : name%>
      </a>
    </h3>
  </div>
  <div class="flexbox__item width7 project-description" style="background: #FFF;">
    <%- description%>
  </div>
  <div class="flexbox__item width1 hideLinks text--left project-stars" style="background: #F0F;">
    <a href="<%=srcUrl%>" target="_blank" class="fakeLink">
      <span class="icon-purple-star" title="Stars">
        <span class="accessibility">Stars</span>
      </span>
      <span><%=numscale({value: stars, maxLen: 4}).toLowerCase() %></span>
    </a>
  </div>
  <div class="flexbox__item width1 hideLinks text--left project-forks">
    <a href="<%=srcUrl%>" target="_blank" class="fakeLink">
      <span class="icon-purple-fork" title="Forks">
        <span class="accessibility">Forks</span>
      </span>
      <span><%=forks%></span>
    </a>
  </div>
</div>