<div class="container__row flexbox soft-half--top soft-half--bottom">
  <div class="flexbox__item width3">
    <h3 title="<%=name%>" class="delta flush--bottom">
      <a href="<%=pageUrl%>" target="_blank">
        <%= locals.truncatedName ? locals.truncatedName : name%>
      </a>
    </h3>
  </div>
  <div class="flexbox__item width7 project-description">
    <%- description%>
  </div>
  <!-- TODO: Try floats inside of width1 -->
  <div class="flexbox__item width2 hard--left">
    <a href="<%=srcUrl%>" target="_blank" class="link--underline span1"
     ><span class="icon-purple-star" title="Stars"></span>
      <span><%=numscale({value: stars, maxLen: 4}).toLowerCase() %></span>
    </a>
    <a href="<%=srcUrl%>" target="_blank" class="link--underline span1"
     ><span class="icon-purple-fork" title="Forks"
       ><span class="accessibility">Forks</span></span>
      <span><%=forks%></span>
    </a>
  </div>
</div>