<section id="articleSection">
  <article class="post">
    <header class="row">
      <div class="l_span">
        <h1 class="headerMega superComfyText"><%= title %></h1>
      </div>
      <div class="l_spanRight date blogpostDate">
        <%
          var MONTHS = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
              day = rawDate.getDate() + "";
          if (day.length === 1) {
             day = "0" + day;
          }

          var articleDate = MONTHS[rawDate.getMonth()] + " " + day + ", " + (rawDate.getYear() + 1900);
        %>
        <%= articleDate %>
      </div>
    </header>

    <section class="content row"><div class="span12 blogpost">
      <%- content %>
    </div></section>

    <section class="comments row"><div class="span12">
      <% if (config.disqus) { %>
        <div id="disqus_thread"></div>
        <script type="text/javascript" src="http://disqus.com/forums/<%= config.disqus %>/embed.js"></script>
        <noscript>
          <div class="layout-center">
            <a href="http://<%= config.disqus %>.disqus.com/?url=ref">View the discussion thread.</a>
          </div>
        </noscript>
        <p class="layout-center">
          <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
        </p>
      <% } %>
    </div></section>
  </article>
</section>