<article class="post">
  <header class="layoutRow">
    <div class="layoutUnit">
      <h1 class="headerMega"><%= title %></h1>
    </div>
    <div class="layoutUnit layoutSizeFill layoutFlipped">
      <%
        var MONTHS = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
            day = rawDate.getDay() + "";
        if (day.length === 1) {
           day = "0" + day;
        }

        var articleDate = MONTHS[rawDate.getMonth()] + " " + day + ", " + (rawDate.getYear() + 1900);
      %>
      <span class="date"><%= articleDate %></span>
    </div>
  </header>

  <section class="content layoutRow"><div class="layoutUnit layoutSizeFill blogpost">
    <%- content %>
  </div></section>

  <section class="comments layoutRow"><div class="layoutUnit layoutSizeFill">
    <% if (config.disqus) { %>
      <div id="disqus_thread"></div>
      <script type="text/javascript" src="http://disqus.com/forums/<%= config.disqus %>/embed.js"></script>
      <noscript>
        <div class="layoutCentered">
          <a href="http://<%= config.disqus %>.disqus.com/?url=ref">View the discussion thread.</a>
        </div>
      </noscript>
      <p class="layoutCentered">
        <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
      </p>
    <% } %>
  </div></section>
</article>
