<%
var MONTHS = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
%>
<section id="articles">
  <%
    articles.forEach(function (article, i) {
      var rowKlass = i % 2 === 0 ? "themeOddRow" : "themeEvenRow";
  %>
    <article class="post <%=rowKlass%> semiComfyRow">
      <header class="l_row">
        <div class="l_span">
          <h2 class="headerKilo superComfyText"><a href="<%= article.url %>"><%= article.title %></a></h2>
        </div>
        <div class="l_spanRight">
        <%
          var rawDate = article.rawDate,
              day = rawDate.getDay() + 1 + "";
          if (day.length === 1) {
             day = "0" + day;
          }

          var articleDate = MONTHS[rawDate.getMonth()] + " " + day + ", " + (rawDate.getYear() + 1900);
        %>
          <span class="date superComfyText fluffToHeaderKilo"><%= articleDate %></span>
        </div>
      </header>
      <section class="content l_row"><div class="l_span12 truncate">
        <%- article.summary %>
      </div></section>
      <div class="more l_row"><div class="l_spanRight">
        <a href="<%= article.url %>">Read more &raquo;</a>
      </div></div>
    </article>
  <% }); %>
</section>