<%
var MONTHS = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
%>
<section id="articles">
  <%
    articles.forEach(function (article, i) {
      var rowKlass = i % 2 === 0 ? "odd-row" : "even-row";
  %>
    <article class="post <%=rowKlass%> theme">
      <header class="row">
        <div class="span9">
          <h2 class="text-truncate" title="<%= article.title %>"><a href="<%= article.url %>"><%= article.title %></a></h2>
        </div>
        <div class="span3 text-right fluffToH2">
        <%
          var rawDate = article.rawDate,
              day = rawDate.getDate() + "";
          if (day.length === 1) {
             day = "0" + day;
          }
          var articleDate = MONTHS[rawDate.getMonth()] + " " + day + ", " + (rawDate.getYear() + 1900);
        %>
          <span class="date"><%= articleDate %></span>
        </div>
      </header>
      <section class="content row"><div class="span12"><div class="text-truncate article-summary">
        <p><%- article.summary %></p>
      </div></div></section>
      <div class="more row"><div class="span12 text-right">
        <p><a href="<%= article.url %>">Read more &raquo;</a></p>
      </div></div>
    </article>
  <% }); %>
</section>